requests==2.7.0
elasticsearch==1.5.0
cython==0.22
thriftpy==0.3.0
pyramid
-e git+https://github.com/scieloorg/xylose@v0.5b#egg=xylose
-e git+https://github.com/scieloorg/publication_stats@0.2.0#egg=publication_stats
-e git+https://github.com/scieloorg/thriftpy-wrap@0.1.1#egg=thriftpywrap
